@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
  --swiper-pagination-bullet-inactive-color: #e3e3e3;
  --swiper-pagination-color: #fff;
}

*::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'CustomFont';
  src: url('/KNF.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--foreground);
  font-family: 'JetBrains Mono', monospace;
  background-color: #141415;
}

.knf {
  font-family: 'CustomFont', sans-serif;
  font-weight: 400;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html {
  background-color: black;
  color: white;
}

body {
  overflow-x: hidden;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#splashscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 666666;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.split-view {
  header {
    filter: invert(1);
  }
}

.react-tel-input .flag-dropdown {
  top: 10px !important;
  bottom: 10px !important;
  left: 1px;
  border: none !important;
  border-right: 1px solid white !important;
}

.react-tel-input .selected-flag:hover,
.react-tel-input .flag-dropdown.open .selected-flag {
  background-color: transparent !important;
}

.page-faq {
  @media (max-width: 992px) {
    * {
      color: white;
    }

    header {
      filter: invert(0);
    }

    #background-box {
      background-color: white;
    }
  }
}

#login-submit {
  @media (max-width: 767px) {
    margin-top: 12px;
  }
}

.gradient-border {
  border-style: solid;
  border-width: 1px;
  border-image: linear-gradient(to top, white, transparent 50%, white) 1;
  border-image-slice: 1;
}

/* styles.css */
.gradient-background {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      100deg,
      #571f0d -0.99%,
      #5e220f 64.54%,
      #642410 112.46%
    ),
    #4a13a5;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 2rem;
  overflow: hidden;
}

