@font-face {
  font-family: 'ssp';
  src: url('ssp/light.woff2') format('woff2');
  font-style: light;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'ssp';
  src: url('ssp/regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'ssp';
  src: url('ssp/bold.woff2') format('woff2');
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'sfpt';
  src: url('sfpt/regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'ppr';
  src: url('ppr/PPRader-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'ppr';
  src: url('ppr/PPRader-Bold.woff2') format('woff2');
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'system85';
  src: url('system85/system85-medium.woff2') format('woff2');
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'ppeditorial';
  src: url('pp.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

